<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Deportes</title>
</head>
<body>
    <h1>Listado de Deportes</h1>

    <!-- Enlace para añadir un nuevo deporte -->
    <a href="{% url 'deportes_create' %}">Añadir Deporte</a>

    <ul>
        {% for deporte in deportes %}
            <li>{{ deporte.nombre }}
                <a href="{% url 'deportes_update' pk=deporte.id_deporte %}">Editar</a>
                <form action="{% url 'deportes_delete' pk=deporte.id_deporte %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% empty %}
            <li>No hay deportes registrados.</li>
        {% endfor %}
    </ul>
</body>
</html>