<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Equipos</title>
</head>
<body>
    <h1>Listado de Equipos</h1>

    <ul>
        {% for equipo in equipos %}
            <li>
                <a href="{% url 'equipo_detalle' pk=equipo.id_equipo %}">{{ equipo.nombre }}</a> - {{ equipo.deporte }} - {{ equipo.contacto }}
                <a href="{% url 'equipo_update' pk=equipo.id_equipo %}">Editar</a>
                <form action="{% url 'equipo_delete' pk=equipo.id_equipo %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% empty %}
            <li>No hay equipos registrados.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'equipo_create' %}">Añadir Equipo</a>
</body>
</html>