<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Instalaciones</title>
</head>
<body>
    <h1>Listado de Instalaciones</h1>

    <!-- Enlace para añadir una nueva instalación -->
    <a href="{% url 'instalaciones_create' %}">Añadir Instalación</a>

    <ul>
        {% for instalacion in instalaciones %}
            <li>{{ instalacion.nombre }}
                <a href="{% url 'instalaciones_update' pk=instalacion.id_instalacion %}">Editar</a>
                <form action="{% url 'instalaciones_delete' pk=instalacion.id_instalacion %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit">Eliminar</button>
                </form>
            </li>
        {% empty %}
            <li>No hay instalaciones registradas.</li>
        {% endfor %}
    </ul>
</body>
</html>